n8than.dev {
	root * /var/www/n8than.dev/dist

	encode gzip

	file_server

	header {
		-Server
		Cache-Control "public, max-age=3600"
	}

	@assets path_regexp \.(js|css|jpg|jpeg|png|gif|svg|ico|woff2?|ttf|otf|webp|avif)$
	header @assets Cache-Control "public, max-age=31536000, immutable"
}
